@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: 'Raleway', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }

    html, body, #root {
        height: 100vh;
    }

    #root {
        display: grid;
        place-items: center;
        background: #0f0f0f;
    }

    input[type='range'] {
        cursor: pointer;
    }
      
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1.5px solid white;
        background: #151515;
        cursor: pointer;
      }

      #input-hue::-webkit-slider-thumb {
        background: var(--thumb-color);
      }
}